@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

.bg-header {
    background: url('~assets/header.jpg') center;
}

.bg-discord {
    background: url('~assets/discord.jpg') no-repeat center;
}

.bg-footer {
    background: url('~assets/footer.jpg');
}

.bg-lside {
    background: url('~assets/lside_logo.svg') repeat-y center;
    background-size: contain;
}

.bg-rside {
    background: url('~assets/lside_logo.svg') repeat-y center;
    background-size: contain;
}

body {
    height: auto;
    position: relative;
}

html {
    font-size: 90%;
}
